<!-- <mat-grid-list cols="1" rowHeight="1:1"> -->
<mat-grid-list cols="1" rowHeight="1:0.7">
    <mat-grid-tile>
        <mat-card class="example-card" id="card" [style.width]="width" *ngIf="!show" cdkDrag [ngStyle]="{'background-image': 'url(' + photo + ')', 'margin-top': '-15%'}">
            <mat-card-title>
                <h4 class="text-center">Register</h4>
            </mat-card-title>
            <mat-card-content>
                <div class="example-container">
                    <form [formGroup]="userInformation" class="example-container" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Full name</mat-label>
                                <input matInput placeholder="e.g Rangie Flores Laurente" name="Fullname"
                                    formControlName="name">
                                <mat-hint [style.color]="dangerColor" *ngIf="userInformation.get('name').hasError('required')  && ( userInformation.controls['name']?.touched || userInformation.controls['name']?.dirty) ">This
                                    field is required</mat-hint>
                            </mat-form-field>
                            <!-- <mat-form-field appearance="outline">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Enter username" name="Username" formControlName="username">
                                <mat-hint [style.color]="dangerColor" *ngIf="userInformation.get('username').hasError('required')  && ( userInformation.controls['username']?.touched || userInformation.controls['username']?.dirty) ">This
                                    field is required</mat-hint>
                            </mat-form-field> -->
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="e.g @gmail.com" name="Email" formControlName="email">
                                <mat-hint [style.color]="dangerColor" *ngIf="userInformation.get('email').hasError('required')  && ( userInformation.controls['email']?.touched || userInformation.controls['email']?.dirty) ">This
                                    field is required</mat-hint>
                                <mat-hint [style.color]="dangerColor" *ngIf="userInformation.controls.email.hasError('pattern') ; else validEmail">Invalid
                                    Email</mat-hint>
                                <ng-template #validEmail>
                                    <p [style.color]="successColor" *ngIf="userInformation.controls.email.valid">✓</p>
                                </ng-template>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Contact no.</mat-label>
                                <input matInput placeholder="Enter contact no."  name="Phone"
                                    formControlName="phone">
                                <mat-hint [style.color]="dangerColor" *ngIf="userInformation.get('phone').hasError('required')  && ( userInformation.controls['phone']?.touched || userInformation.controls['phone']?.dirty)">This
                                    field is required
                                </mat-hint>
                                <!-- <mat-label>Password</mat-label>
                                <input matInput placeholder="Enter password" type="password" name="Password"
                                    formControlName="password" >
                                <mat-hint [style.color]="dangerColor" *ngIf="userInformation.get('password').hasError('required')  && ( userInformation.controls['password']?.touched || userInformation.controls['password']?.dirty)">This
                                    field is required</mat-hint>
                                <mat-hint [style.color]="dangerColor" *ngIf="userInformation.controls.password.hasError('pattern') ; else strongPassword">Weak
                                    password</mat-hint>
                                <ng-template #strongPassword>
                                    <p [style.color]="successColor" *ngIf="userInformation.controls.password.valid">Strong
                                        password</p>
                                </ng-template> -->
                            </mat-form-field>
                        </div>
                        <button mat-raised-button color="accent" type="submit" [disabled]="!userInformation.valid"
                            *ngIf="!btn">Submit</button>
                        <button mat-raised-button color="accent" type="submit" *ngIf="btn" [disabled]="!userInformation.valid">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </form>
                    <button mat-raised-button color="warn" (click)="clear(myForm)" id="clrBtn" *ngIf="!btn">Clear</button>
                </div>
            </mat-card-content>
        </mat-card>
        <app-registration-list [formData]="list_data" (editedData)="dataToEdit($event)" *ngIf="show" (hideComponent)="hide($event)"
            (backEvent)="back($event)"></app-registration-list>
    </mat-grid-tile>
    <div></div>
</mat-grid-list>