<mat-card class="example-card" style="width: 60rem; ">
    <div class="example-container" >
        <mat-card-title>
            <h5 class="text-center">List of accounts registered</h5>
        </mat-card-title><br>
        <mat-card-subtitle>
            <h6>Registered account/s: {{ formData.length }}</h6>
        </mat-card-subtitle>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <!-- <th scope="col">Fullname</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Action</th> -->
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userData of formData ; let i = index">
                <!-- <tr *ngFor="let userData of testData; let i = index" [attr.data-index]="i"> -->
                    <!-- <th>{{ i + 1}}</th> -->
                    <th>{{ i + 1}}</th>
                    <th>{{ userData.name}}</th>
                    <td>{{ userData.email}}</td>
                    <td>{{ userData.phone}}</td>
                    <td>
                        <button mat-mini-fab color="accent" (click)="editData(userData)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">create</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button mat-raised-button color="accent" (click)="back()">Back</button>
    </div>
</mat-card>