<mat-card class="example-card" style="width: 35rem;">
    <div class="example-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fullname</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userData of formData; let i = index" [attr.data-index]="i">
                    <th>{{ userData.fullname}}</th>
                    <td>{{ userData.username}}</td>
                    <td>{{ userData.email}}</td>
                    <td>{{ userData.password}}</td>
                    <td><button mat-raised-button color="accent" (click)="editData(userData)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-card>